# environmental var
.env
loadedTemplates.txt
loadedUnitData.txt
processedDataArray.txt
stringifiedData.txt
unitIdArray.txt
unitIDs.txt
updateResponse.txt
updateServiceResponse.txt
uploadResponse.txt
uploadServiceResponse.txt
/logs/
# python env